**/.DS_Store
**/Chart.lock
**/__pycache__
**/.pytest_cache

containers/envcontainers.env
containers/app/assets/fontes/*
containers/app/assets/conf/php/sei-fpm.conf
containers/app/assets/conf/apache/sei.conf
containers/app/assets/conf/php/sei.ini

helm/charts/**/charts/*
helm/tests/values.yaml
helm/tests/values-original.yaml
helm/tests/values-original.yaml-e
helm/tests/Selenium/PythonExported/test_suiteBasics-executar.py-e
helm/tests/Selenium/PythonExported/test_suiteBasics-executar.py
helm/tests/Selenium/PythonExported/resultado.xml
helm/tests/envtest.env