**/.DS_Store
**/Chart.lock
charts/**/charts/*
**/genericValuesTest.yaml
tests/values.yaml
tests/values-original.yaml
tests/values-original.yaml-e
tests/helmvalues-test/tests-sei-umbrella.yaml
**/__pycache__
**/.pytest_cache
tests/Selenium/PythonExported/test_suiteBasics-executar.py-e
tests/Selenium/PythonExported/test_suiteBasics-executar.py
tests/Selenium/PythonExported/resultado.xml
tests/helmvalues-test/tests-sei-app1.yaml
tests/helmvalues-test/tests-sei-app2.yaml
tests/helmvalues-test/tests-sei-umbrella.yaml
tests/envtest.env