#orgao: orgaon
cacheassets:

    # namespace onde roda o cache, salvo em alguns casos especificos deixe esse valor em branco e informe o namespace pelo helm    
    namespace: ""

    image:
        repository: nginx
        pullPolicy: IfNotPresent
        tag: ""
    
    nameOverride: ""
    fullnameOverride: ""
