# arquivo com os values para o teste, esses campos serao substituidos antes de subir um chart para teste
# note que algumas das variaveis abaixo serao traduzidas em arquivos values no formato yaml para o helm
# abaixo é apenas um exemplo de arquivo funcional, ele muda de acordo com os clusters q vc tem a sua disposicao para testar
# a instalacao helm

# abaixo seria um arquivo que aponta para 3 clusters kubernetes distintos


# define quais cluster vai usar, de acordo com o seu kube config, separe-os por espaco
kube_contexts=docker-desktop mycluster


# define qual o ip determinado cluster informado acima deve responder
docker-desktop.ip-entrada=192.168.2.100

# abaixo as var para a primeira instalacao
# chamei-a de tests-sei-umbrella (mantenha esse nome ai no seu, mude apenas os valores mais abaixo)

# namespace usado para essa instalacao - tests-sei-umbrella vai usar o chart chart-generico-dev
# nesse caso essa var sera usada apenas pelo helm, nao pelo kubernetes
# n mude esse nome enquanto nao atualizarmos o teste para deixar isso dinamico
docker-desktop.tests-sei-umbrella.namespace=tests-ns-sei-umbrella


# as vars abaixo, sao transpostas usando o comando yq para um yaml valido. Seria o values do pacote helm
# observe que no seu cluster podem ter vars adicionais ou valores diferentes
# aqui ficam apenas as vars que mudam de acordo com o values default do pacote
docker-desktop.tests-sei-umbrella.sei-app.app.dbcluster=tests-ns-sei-umbrella
docker-desktop.tests-sei-umbrella.sei-app.app.jodcluster=tests-ns-sei-umbrella
docker-desktop.tests-sei-umbrella.sei-app.app.solrcluster=tests-ns-sei-umbrella
docker-desktop.tests-sei-umbrella.sei-app.app.memcachedcluster=tests-ns-sei-umbrella
docker-desktop.tests-sei-umbrella.sei-app.app.host=sei1.teste
docker-desktop.tests-sei-umbrella.sei-app.app.fontes_git_privkey=LS0tLS1CRXXXXXXXXXXXXXXXXXXX0VZLS0tLS0K


# abaixo sao as vars para outra instalacao nesse mesmo cluster
# chamei-a de tests-sei* nela vamos subir um banco, um solr, um jod
# 2 memcacheds e 2 Seis distintos

docker-desktop.tests-sei-db.namespace=tests-ns-sei-db
docker-desktop.tests-sei-jod.namespace=tests-ns-sei-jod
docker-desktop.tests-sei-solr.namespace=tests-ns-sei-solr
docker-desktop.tests-sei-memcached1.namespace=tests-ns-sei-memcached1
docker-desktop.tests-sei-memcached2.namespace=tests-ns-sei-memcached2

docker-desktop.tests-sei-app1.namespace=tests-ns-sei-app1

docker-desktop.tests-sei-app1.app.dbcluster=tests-ns-sei-db
docker-desktop.tests-sei-app1.app.jodcluster=tests-ns-sei-jod
docker-desktop.tests-sei-app1.app.solrcluster=tests-ns-sei-solr
docker-desktop.tests-sei-app1.app.memcachedcluster=tests-ns-sei-memcached1
docker-desktop.tests-sei-app1.app.host=sei1.teste
docker-desktop.tests-sei-app1.app.fontes_git_privkey=LS0tLS1CRXXXXXXXXXXXXXXXXXXX0VZLS0tLS0K

docker-desktop.tests-sei-app2.namespace=tests-ns-sei-app2

docker-desktop.tests-sei-app2.app.dbcluster=tests-ns-sei-db
docker-desktop.tests-sei-app2.app.jodcluster=tests-ns-sei-jod
docker-desktop.tests-sei-app2.app.solrcluster=tests-ns-sei-solr
docker-desktop.tests-sei-app2.app.memcachedcluster=tests-ns-sei-memcached2
docker-desktop.tests-sei-app2.app.host=sei2.teste
docker-desktop.tests-sei-app2.app.idInstalacao: orgao2
docker-desktop.tests-sei-app2.app.orgao2: orgao2
docker-desktop.tests-sei-app2.app.orgao_descricao: Orgao Helm2
docker-desktop.tests-sei-app2.app.nome_complemento: Orgao Helm2
docker-desktop.tests-sei-app2.app.fontes_git_privkey=LS0tLS1CRXXXXXXXXXXXXXXXXXXX0VZLS0tLS0K




# agora vou criar as variaveis das instalacoes referentes ao meu segundo cluster: mycluster
# note q estao identicas ao cluster docker-desktop, mas adicionei storageClass diferente,
# pois nesse cluster eu nao tenho storageclass default

mycluster.ip-entrada=200.152.47.34


mycluster.tests-sei-umbrella.namespace=tests-ns-sei-umbrella

mycluster.tests-sei-umbrella.sei-app.app.dbcluster=tests-ns-sei-umbrella
mycluster.tests-sei-umbrella.sei-app.app.jodcluster=tests-ns-sei-umbrella
mycluster.tests-sei-umbrella.sei-app.app.solrcluster=tests-ns-sei-umbrella
mycluster.tests-sei-umbrella.sei-app.app.memcachedcluster=tests-ns-sei-umbrella
mycluster.tests-sei-umbrella.sei-app.app.host=sei1.teste
mycluster.tests-sei-umbrella.sei-app.app.fontes_git_privkey=LS0tLS1CRXXXXXXXXXXXXXXXXXXX0VZLS0tLS0K

mycluster.tests-sei-umbrella.sei-db.db.storage.storageClass=nfs-client2
mycluster.tests-sei-umbrella.sei-solr.solr.storage.storageClass=nfs-client2
mycluster.tests-sei-umbrella.sei-app.app.storage.storageClass=nfs-client2



mycluster.tests-sei-db.namespace=tests-ns-sei-db
mycluster.tests-sei-jod.namespace=tests-ns-sei-jod
mycluster.tests-sei-solr.namespace=tests-ns-sei-solr
mycluster.tests-sei-memcached1.namespace=tests-ns-sei-memcached1
mycluster.tests-sei-memcached2.namespace=tests-ns-sei-memcached2

mycluster.tests-sei-app1.namespace=tests-ns-sei-app1

mycluster.tests-sei-app1.app.dbcluster=tests-ns-sei-db
mycluster.tests-sei-app1.app.jodcluster=tests-ns-sei-jod
mycluster.tests-sei-app1.app.solrcluster=tests-ns-sei-solr
mycluster.tests-sei-app1.app.memcachedcluster=tests-ns-sei-memcached1
mycluster.tests-sei-app1.app.host=sei1.teste
mycluster.tests-sei-app1.app.fontes_git_privkey=LS0tLS1CRXXXXXXXXXXXXXXXXXXX0VZLS0tLS0K



mycluster.tests-sei-app2.namespace=tests-ns-sei-app2

mycluster.tests-sei-app2.app.dbcluster=tests-ns-sei-db
mycluster.tests-sei-app2.app.jodcluster=tests-ns-sei-jod
mycluster.tests-sei-app2.app.solrcluster=tests-ns-sei-solr
mycluster.tests-sei-app2.app.memcachedcluster=tests-ns-sei-memcached2
mycluster.tests-sei-app2.app.host=sei2.teste
mycluster.tests-sei-app2.app.idInstalacao: orgao2
mycluster.tests-sei-app2.app.orgao2: orgao2
mycluster.tests-sei-app2.app.orgao_descricao: Orgao Helm2
mycluster.tests-sei-app2.app.nome_complemento: Orgao Helm2
mycluster.tests-sei-app2.app.fontes_git_privkey=LS0tLS1CRXXXXXXXXXXXXXXXXXXX0VZLS0tLS0K

mycluster.tests-sei-db.db.storage.storageClass=nfs-client2
mycluster.tests-sei-solr.solr.storage.storageClass=nfs-client2
mycluster.tests-sei-app1.app.storage.storageClass=nfs-client2
mycluster.tests-sei-app2.app.storage.storageClass=nfs-client2