# arquivo com os values para o teste, esses campos serao substituidos antes de subir um chart para teste

fontes_git_privkey=LS0XXXXXXXXVZLS0tLS0K


kube_contexts=docker-desktop mycluster

docker-desktop-ip-entrada=192.168.2.100

umbrella_url=sei1.teste
umbrella_namespace=tests-ns-sei-umbrella


app1.db.namespace=tests-ns-sei-db
app1.jod.namespace=tests-ns-sei-jod
app1.solr.namespace=tests-ns-sei-solr
app1.memcached.namespace=tests-ns-sei-memcached1
app1.app.namespace=tests-ns-sei-app
app1.host.name=sei1.teste

app2.db.namespace=tests-ns-sei-db
app2.jod.namespace=tests-ns-sei-jod
app2.solr.namespace=tests-ns-sei-solr
app2.memcached.namespace=tests-ns-sei-memcached2
app2.app.namespace=tests-ns-sei-app2
app2.host.name=sei2.teste

