DOCKER_REGISTRY=ghcr.io/pengovbr/sei-helm

# passe vazio ou --no-cache para nao utilizar cache de build do docker
DOCKER_CACHE_ARG=


# ********************************************
# Alpine
# ********************************************

ALPINE_ORIGINAL_VERSION=3.22.3

IMAGE_ALPINE=${DOCKER_REGISTRY}/alpine
IMAGE_ALPINE_VERSION=3.22.3

# ********************************************
# php apoio make e ferramentas
# ********************************************

IMAGE_APOIO_PHP=${DOCKER_REGISTRY}/phpmaketools
IMAGE_APOIO_PHP_VERSION=0.5.0


# ********************************************
# apache e php
# ********************************************

IMAGE_APACHE=${DOCKER_REGISTRY}/apache
IMAGE_APACHE_VERSION=0.5.0

IMAGE_PHP=${DOCKER_REGISTRY}/php
IMAGE_PHP_VERSION=0.5.0

IMAGE_PHP_INSTALL=${DOCKER_REGISTRY}/php-install
IMAGE_PHP_INSTALL_VERSION=0.5.0

IMAGE_PHP_CRON=${DOCKER_REGISTRY}/php-cron
IMAGE_PHP_CRON_VERSION=0.5.0

IMAGE_APACHE_PHP=${DOCKER_REGISTRY}/web-php
IMAGE_APACHE_PHP_VERSION=0.5.0

# ********************************************
# memcached
# ********************************************

IMAGE_MEMCACHED_BASE=${DOCKER_REGISTRY}/memcached-base
IMAGE_MEMCACHED_BASE_VERSION=1.6.40-alpine

IMAGE_MEMCACHED=${DOCKER_REGISTRY}/memcached
IMAGE_MEMCACHED_VERSION=0.5.0

# ********************************************
# JOD
# ********************************************

IMAGE_JOD=${DOCKER_REGISTRY}/jod
IMAGE_JOD_VERSION=0.5.0

# ********************************************
# SOLR
# ********************************************

IMAGE_SOLR_BASE=${DOCKER_REGISTRY}/solr-base
IMAGE_SOLR_BASE_VERSION=9.6.1

IMAGE_SOLR=${DOCKER_REGISTRY}/solr
IMAGE_SOLR_VERSION=0.5.0

# ********************************************
# MariaDB
# ********************************************
IMAGE_MARIADB_BASE=${DOCKER_REGISTRY}/mariadb-base
IMAGE_MARIADB_BASE_VERSION=10.5

IMAGE_MARIADB=${DOCKER_REGISTRY}/mariadb
IMAGE_MARIADB_VERSION=0.5.0

# ********************************************
# NGINX
# ********************************************

NGINX_ORIGINAL_VERSION=1.29.5-alpine3.23-slim

IMAGE_NGINX=${DOCKER_REGISTRY}/nginx
IMAGE_NGINX_VERSION=0.5.0



# ********************************************
# SEI e Modulos
# ********************************************

# caso tenha um git com os fontes do sei e modulos, informe-os aqui.
# O makefile (make fontesGet) tentarah baixar os mesmos caso vc possua acesso.
# Caso nao possua esse acesso, vc podera copiar os fontes
# do sei e modulos diretamente na pasta containers/app/assets/fontes
# os modulos ja devem estar na pasta sei/web/modulos e demais pastas como sei/scripts/modX
# como informado no manual de cada modulo.
# Os arquivos de config (ConfiguracaoSei.php e ConfiguracaoModuloX.php serao substituidos entao
# n precisa copia-los)
# uma vez os fontes posicionados, rode o make fontesPrepare para preparar os arquivos antes
# de construir os containeres de app


GIT_SEI_URL=github.com/pengovbr/sei
GIT_SEI_PAT=github_pat_11XXXXXX
GIT_SEI_VERSION=release/5.1.0

GIT_MODULO_ESTATISTICAS_URL=github.com/pengovbr/mod-sei-estatisticas
GIT_MODULO_ESTATISTICAS_VERSION=master

GIT_MODULO_ASSINATURA_URL=github.com/pengovbr/mod-sei-assinatura-eletronica
GIT_MODULO_ASSINATURA_VERSION=release/1.3.0
