apiVersion: v1
data:
  nginx.conf: |
    resolver kube-dns.kube-system.svc.cluster.local ipv6=off valid=30s;

    proxy_cache_path /var/cache/nginx
                     keys_zone=mycache:10m
                     loader_threshold=300
                     loader_files=200
                     max_size=300m
                     levels=2:2:2
                     use_temp_path=off
                     inactive=1d;

    log_format main_cache_status '$host - $remote_addr - $remote_user [$time_local] '
                                    '"$request" $status $body_bytes_sent '
                                    '"$http_referer" "$http_user_agent" "$http_x_forwarded_for"'
                                    ' "$upstream_cache_status"';

    {{- range .Values.cacheassets.backends }}
    upstream backend_{{ .namespace }} {
        zone my_backend_zone 64k;
        server sei-app.{{ .namespace }}.svc.cluster.local max_fails=0 resolve;
    }
    {{- end }}

    {{- range .Values.cacheassets.backends }}
    server {
        listen 80;
        proxy_cache mycache;
        add_header X-Cache-Status $upstream_cache_status;

        server_name {{ .host }};

        access_log /dev/stdout main_cache_status;

        location / {

            proxy_pass http://backend_{{ .namespace }};
            proxy_cache_valid 200 302 1h;
            proxy_cache_valid 404 1d;
            proxy_cache_min_uses 1;

            proxy_cache_use_stale error timeout updating http_500 http_502 http_503 http_504;
            proxy_cache_background_update on;
            proxy_cache_lock on;

        }
    }
    {{- end }}
kind: ConfigMap
metadata:
  name: cm-cacheassets
  {{- with .Values.cacheassets.namespace }}
  namespace: {{ . }}
  {{- end }}
  labels:
    {{- include "sei-cacheassets.labels" . | nindent 4 }}